.carInput
{
    flex: 1 1 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    min-width: 100px;
    width: 50%;
    border-width: 1px;
    border-color: springgreen;
}

.carInputField
{
    width: 100px;
}

.carButtons
{
    flex: 1 1 100%;
    flex-direction: row;
    align-items: flex-start;
    min-width: 100px;
    width: 50%;
    margin: 10px;
}

.inputElement
{
    display: inline-block;
    margin: 10px;
    width: 100px;
}

#header
{
    margin: 10px;
}