.carInput
{
    flex: 1 1 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    min-width: 100px;
    width: 50%;
    border-width: 1px;
    border-color: springgreen;
}

.carInputField
{
    width: 100px;
}

.carButtons
{
    flex: 1 1 100%;
    flex-direction: row;
    align-items: flex-start;
    min-width: 100px;
    width: 50%;
    margin: 10px;
}

.inputElement
{
    display: inline-block;
    margin: 10px;
    width: 100px;
}

#header
{
    margin: 10px;
}

.carInputField
{
    /*display: block;*/
    margin: 5px;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 180px;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border-radius: 0.4rem;
    border-color: #0081D5;
    transition: box-shadow var(--transitionDuration);
}

.carButton
{
    /*display: block;*/
    margin-top: 10px;
    border: 0;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 15px;
    background: #0081D5;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
}

.carButton:hover,
.carButton:focus
{
    background: #005C99;
}

.carButton:active
{
    background: #003659;
}